.header {
    height: 60px;
    width: 495px;
}


.text-contain {
    color: black;
    font-size: 56px;

}

.it-all-begins-with {
    color: black;
    font-size: 13.6px;
    
}

.learn-more-btn {
    align-items: center;
    background-color: #fcb715;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0px;
}

.learn-more-btn:hover {transform: scale(1.25);}

